project_name = "marketplace-boats"
environment  = "prod"
aws_region   = "eu-west-1"
cache_ttl    = 604800
price_class  = "PriceClass_100"

enable_versioning = false
create_iam_user   = true

cors_allowed_origins = ["*"]

tags = {
  Team  = "backend"
  Owner = "your-name"
}
